{% extends 'base.html' %}
{% block title %}
<title>Editar Usuario</title>
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 w-50">
        <h1 class="text-center">Editar Usuario</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action="{{url_for('routes.editar_usuario_comum', usuario_id=usuario.id )}}" method="post">
            <div class="form-group mb-3">
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" class="form-control" value="{{ usuario.username }}"
                    required>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ usuario.email }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="status">Defina a nova Funçao:</label>
                <select id="nivel_funcao" name="nivel_funcao" class="form-control">
                    <option value="administrador" {% if usuario.nivel_funcao == 'administrador' %}selected{% endif %}>Administrador</option>
                    <option value="comum" {% if usuario.nivel_funcao == 'comum' %}selected{% endif %}>Comum</option>
                </select>
            </div>
            

            <div class="form-group mb-3">
                <label for="funcao">Função Atual:</label>
                <input type="text"class="form-control" value="{{ usuario.nivel_funcao }}" disabled>
            </div>

            <button type="submit" class="btn btn-primary w-100">Atualizar Usuario</button>

        </form>
            <form action="{{ url_for('routes.deletar_usuario_comum', usuario_id=usuario.id) }}" class="text-center" method="POST">
                <button type="submit" class="text-danger btn btn-link w-100"
                    onclick="return confirm('Tem certeza que deseja excluir este usuario ?');">Deletar Usuario
                </button>
            </form>
    </div>
</div>

{% endblock %}